body {
	background-color: #555555;
	background-image: url("/cdn/assets/bg_end.png");
	color: #ffffff;

	a {
		color: #c25cff;
	}

	nav {
		background-color: #21252996 !important;
	}

	table {
		--bs-table-bg: #21252996 !important;
		--bs-table-striped-bg: #2c303496 !important;
	}

	.footer {
		background-color: #333333ff;
		color: #ffffff;
	}
}
