extends layout

block content
    h1 #{pageName}
    p
        | This site displays the progression of speedrun world records for Minecraft: Bedrock Edition.
    p
        | The site was created by AnInternetTroll and Mango Man,
        | and was inspired by Cole Gilberts <a href="https://www.mkwrs.com">mkwrs.com</a>

    p
        | For more information on Minecraft: Bedrock Edition speedrunning,
        | visit <a href="https://www.speedrun.com/mcbe">our leaderboards</a>
        | or join our <a href="https://discord.gg/d5PKmBJ">discord server</a>

    h2 Credits
    p Data Collection: DotALotTroller
    p Updates:

    br

    p
        | To request a correction or addition to the WR history,
        | contact a site updater which can be found in the discord server linked above.
