extends layout

block content
	.home
		h1 Login
		if session.error
			h2 #{session.error}
		else
			h2 #{session.success}
		form(method="POST", action="/admin/login")
			p
				label Username:
				input(type="text", name="username")
			p
				label Password:
				input(type="text", name="password")
			p
				input(type="submit", value="Login")
