extends layout

block content
	.home
		h1 World Record History
		.row
			.card.col-sm-12
				img.card-img-top(src="/assets/card_fullGame.png", alt="Full game image")
				.card-body
					h5.card-title Full Game
					p.card-text
					| Full Game WR History
					p
						a.btn.btn-primary(href="#") View
		.row
			.card.col-sm-6
				img.card-img-top(
					src="/assets/card_individualLevels.png",
					alt="Individual levels image"
				)
				.card-body
					h5.card-title Individual Levels
					p.card-text
					| Individual Levels WR History
					p
						a.btn.btn-primary(href="/history/") View
			.card.col-sm-6
				img.card-img-top(src="/assets/card_catExt.png", alt="Category Extensions")
				.card-body
					h5.card-title Category Extensions
					p.card-text
					| Category Extensions WR History
					p
						a.btn.btn-primary(href="/history/") View
