extends layout

block content
	.home
		h1 Home
		p Welcome to the Minecraft Bedrock Edition (otherwise known as Pocket Edition) world record history website
		p If you are interested in the up to date leaderboard please check out
			a(href="https://www.speedrun.com/mcbe") speedrun.com
		p If you are interested in the speedrunning community we have
			a(href="https://discord.gg/d5PKmBJ") a Discord server
			| and an
			a(href="irc://aninternettroll.xyz/mcbe") IRC channel
			| #mcbe in the aninternettroll.xyz server port 6667
