nav
	.nav
		- var pages = { Home: '/', History: '/history', About: '/about' };
		each menu, key in pages
			if (key == pageName)
				.active.left.nav-item
					a(href=`${menu}`)= key
			else
				.left.nav-item
					a(href=`${menu}`)= key
		.right.nav-item
			a.switchA
				label.switch
					input#colorPreferance(type="checkbox")
					span.slider.round(id=slider)
