extends layout

block content
	div.home
		h1 #{pageName}
		if err
			h2 #{err}
		form(method="POST", action="/admin/register")
			p
				label Username:	
				input(type="text", name="username")
			p
				label Password:	
				input(type="text", name="password")
			p
				input(type="submit", value="Register")
