html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: ease-in-out 200ms;
	transition-delay: 0;
}

body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	a {
		text-decoration: none !important;
	}

	a:hover {
		text-decoration: underline !important;
	}

	/* Nationality flags */
	img.emoji {
		height: 1.5em;
		width: 1.5em;
		vertical-align: -0.1em;
	}

	nav {
		backdrop-filter: blur(5px);
		.switchA {
			padding: 5px !important;

			input:checked + .slider {
				background-color: #2196f3;
			}

			input:checked + .slider:before {
				-ms-transform: translateX(26px);
				-webkit-transform: translateX(26px);
				transform: translateX(26px);
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #2196f3;
			}

			/* The switch - the box around the slider */
			.switch {
				display: inline-block;
				height: 34px;
				position: relative;
				width: 60px;

				/* Hide default HTML checkbox */
				input {
					height: 0;
					opacity: 0;
					width: 0;
				}

				/* The slider */
				.slider {
					-webkit-transition: 0.4s;
					background-color: #ccc;
					bottom: 0;
					cursor: pointer;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					transition: 0.4s;
				}

				.slider:before {
					-webkit-transition: 0.4s;
					background-color: white;
					bottom: 4px;
					content: "";
					height: 26px;
					left: 4px;
					position: absolute;
					transition: 0.4s;
					width: 26px;
				}
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}
	}

	.about {
		margin-left: auto;
		margin-right: auto;
		width: 75%;

		img {
			float: left;
			height: auto;
			width: 30vw;
		}

		h1 {
			text-align: center;
		}

		p {
			text-align: right;
		}
	}

	.form-control {
		width: auto;
	}

	.home {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
	@media only screen and (max-width: 600px) {
		[row="Nation"] {
			display: none;
		}
		[row="Category"] {
			display: none;
		}
	}
	@media only screen and (min-width: 600px) {
		[row="Abbreviation"] {
			display: none;
		}
	}
}
