extends layout

block content
	.home
		h1 World Record History
		.row
			.card.col-sm-12
				img.card-img-top(src="/cdn/assets/card_main.png", alt="Full Game")
				.card-body
					h5.card-title Full Game
					p.card-text Full Game WR History
					p
						a.btn.btn-primary(href="/catselect/main") View

		.row
			.card.col-sm-6
				img.card-img-top(src="/cdn/assets/card_il.png", alt="Individual Levels")
				.card-body
					h5.card-title Individual Levels
					p.card-text Individual Levels WR History
					p
						a.btn.btn-primary(href="/catselect/il") View

			.card.col-sm-6
				img.card-img-top(
					src="/cdn/assets/card_catext.png",
					alt="Category Extensions"
				)
				.card-body
					h5.card-title Category Extensions
					p.card-text Category Extensions WR History
					p
						a.btn.btn-primary(href="/catselect/catext") View
