extends layout

block content
	.home
		h1 Login

		if session.error
			h2 #{session.error}
		else
			h2 #{session.success}

		form(method="POST", action="/admin/login")
			.form-group
				p
					label Username:
					input.form-control(type="text", name="username", required)
				p
					label Password:
					input.form-control(type="password", name="password", required)
				p
					input(type="hidden", name="_csrf", value=csrfToken)
					input.btn.btn-primary(type="submit", value="Login")
