body {
	background-color: #555555;
	background-image: url("/cdn/assets/bg_christmas.jpg");
	color: #ffffff;

	a {
		color: #f0c674;
	}

	nav {
		background-color: #113b0896 !important;
	}

	table {
		--bs-table-bg: #113b0896 !important;
		--bs-table-striped-bg: #113b0896 !important;
	}

	.footer {
		background-color: #333333ff;
		color: #ffffff;
	}
}
