body {
	background-color: #ffffff;
	background-image: url("/cdn/assets/bg_overworld.jpg");
	color: #000000;

	a {
		color: #0000ff;
	}

	nav {
		background-color: #f8f9fa96;
	}

	table {
		--bs-table-bg: #f8f9fa96 !important;
		--bs-table-striped-bg: #ecedee96 !important;
	}

	.footer {
		background-color: #333333ff;
		color: #ffffff;
	}
}
